:root {
  --font-family-inter: "Inter", sans-serif;
  --text-rgb-39-84-138: rgba(39, 84, 138, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-black: rgba(0, 0, 0, 0.56);
}

.text-rgb-39-84-138 {
  color: var(--text-rgb-39-84-138);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-inter);
  background-color: rgba(243, 243, 224, 1);
}

img {
  max-width: 100%;
  height: auto;
}

.rectangle-15-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(24, 59, 78, 1);
  border-radius: 50px;
  width: 634px;
  height: 649px;
}

.text-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-39-84-138);
  margin-left: 51px;
  margin-top: 57px;
}

.rectangle-20-5 {
  margin-top: 58px;
  margin-left: 51px;
  width: 532px;
  height: 71px;
  background-color: rgba(39, 84, 138, 1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 45px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.group-20-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-19-7 {
  margin-top: 46px;
  width: 532px;
  height: 71px;
  border: 1px solid rgba(221, 168, 83, 1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: 51px;
}

.text-8 {
  margin-left: 28px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-20-9 {
  margin-top: 26px;
  width: 532px;
  height: 71px;
  border: 1px solid rgba(221, 168, 83, 1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-left: 51px;
}

.text-10 {
  margin-left: 28px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.desktop-7-1 {
  @media (max-width: 1440px) {
    .desktop-7-1 {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @media (max-width: 768px) {
    .desktop-7-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(243, 243, 224, 1);
}
