:root {
  /* --font-family-inter: "Inter", sans-serif; */
  --font-family-inter: "Cascadia code", sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-39-84-138: rgba(39, 84, 138, 1);
  --text-white: rgba(255, 255, 255, 1);
}

/* Utility Text Colors */
.text-black {
  color: var(--text-black);
}

.text-white {
  color: var(--text-white);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4e3;
}

img {
  max-width: 100%;
  height: auto;
}

/* Components */
.rectangle-15-2 {
  width: 634px;
  height: 634px;
  border-radius: 50px;
  background-color: var(--text-white);
  border: 1px solid #183B4E;
}

input {
  width: 532px;
  padding: 20px;
  height: 71px;
  margin: 25px 0 1px 51px;
  background-color: rgba(219, 210, 210, 0);
  border: 2px solid rgba(221, 168, 83, 1);
  border-radius: 20px;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

input:focus {
   outline: none; /* Menghilangkan outline */
   box-shadow: none; /* Menghilangkan efek bayangan */
}

.text-black1 {
  margin-left: 28px;
  opacity: 56%;
}

.text-4 {
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 28px;
  color: #7e7d7d;
}

.text-7 {
  margin: 89px 0 0 51px;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 64px;
  color: var(--text-rgb-39-84-138);
}

.text-8 {
  margin: 30px 0 0 51px;
  font-family: var(--font-family-inter);
  font-weight: 600;
  font-size: 18px;
}

a {
    color: #003366; /* Warna tautan */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Menggarisbawahi tautan saat hover */
}

button {
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 45px;
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 532px;
  height: 71px;
  margin: 16px 0 0 51px;
  background-color: var(--text-rgb-39-84-138);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

button:hover {
    background-color: #002244; /* Warna tombol saat hover */
}

.test {
  display: flex;
  margin: 4px 0 0 51px;
}

.text-12 {
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  color: var(--text-black);
}

.text-13 {
  margin-left: 5px;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 20px;
  color: var(--text-rgb-39-84-138);
}

/* Responsive Container */
.desktop-2-1 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

@media (max-width: 1440px) {
  .desktop-2-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .desktop-2-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
